body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b2dfdb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  width: 90%;
}

.movies {
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
}

label:not(:last-child) {
  margin-right: 0.5rem;
}

span {
  color: black;
}